<table>
    <thead>
      <tr>
        <th>IDK Klienta</th>
        <th>Nazwa Klienta</th>
        <th>Data zawarcia umowy</th>
        <th>Data zakończenia umowy</th>
        <th>Edycja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let umowa of umowy">
        <td>{{ umowa.idkKlienta }}</td>
        <td>{{ umowa.nazwaKlienta }}</td>
        <td>{{ umowa.dataZawarcia }}</td>
        <td>{{ umowa.dataZakonczenia }}</td>
        <td><button>Edytuj</button></td>
      </tr>
    </tbody>
  </table>
  