<h2>Wprowadź dane klienta</h2>
<label for="" class="col-sm-3 form-control-lg"
  >Imię i nazwisko:
  <input type="text" /> </label
><br />
<label for="" class="col-sm-3 form-control-lg"
  >Województwo:
  <input type="text" /> </label
><br />
<label for="" class="col-sm-3 form-control-lg"
  >Miasto:
  <input type="text" /> </label
><br />
<label for="" class="col-sm-3 form-control-lg"
  >Kod pocztowy:
  <input type="number" /> </label
><br />
<label for="" class="col-sm-3 form-control-lg"
  >Ulica:
  <input type="text" /> </label
><br />
<label for="" class="col-sm-3 form-control-lg"
  >Numer domu:
  <input type="number" /> </label
><br />
<label for="" class="col-sm-3 form-control-lg"
  >Telefon:
  <input type="tel" /> </label
><br />
<label for="" class="col-sm-3 form-control-lg"
  >Adres strony WWW:
  <input type="text" /> </label
><br />
<button class="btn btn-lg btn-secondary">Zapisz</button>
