<h2>Klient</h2>
<label for="" class="form-label">Imię i nazwisko: <input type="text" /> </label
><br />
<label for="">Województwo: <input type="text" /> </label><br />
<label for="">Miasto: <input type="text" /> </label><br />
<label for="">Kod pocztowy: <input type="number" /> </label><br />
<label for="">Ulica: <input type="text" /> </label><br />
<label for="">Numer domu: <input type="number" /> </label><br />
<label for="">Telefon: <input type="tel" /> </label><br />
<label for="">Adres strony WWW: <input type="text" /> </label><br />
<button>Zapisz</button>
